.form-container{
    text-align: center;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: cover;
    height: 100%;
    width: 100%;
    position: fixed;
    margin-top: 105px;
}
.create-pokemon {
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.6);
    margin-top: 40px;
    position: fixed;
    max-width: 900px;
    margin-left: 22%;
    padding: 50px 230px 50px 230px;
    font-weight: bold;
}

.create-pokemon h2{
    margin-left: 1%;
    margin-top: -2%;
}

.form {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 30px;
    grid-column-gap: 200px;
}

.pokemon-image{
    margin-top: 0%;
}

.pokemon-params input{
    width: 200px;
    height: 33px;
    margin-top: -2%;
}
.pokemon-types{
    margin-top: -5%;
}
.pokemon-types :not(p){
    display: table-cell;
}

.special-select{
    margin-left: 35%;
    width: 210px;
}

.option-types select{
    padding-left: -5%;
    width: 100px;
    height: 25px;
}

.submit-pokemon{
    position:absolute;
    padding: 14px 28px 14px 28px;
    font-weight:bold;
    background: linear-gradient(50deg, #36d1dc, #5b86e5);
    border-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cstyle%3Epath%7Banimation:stroke 5s infinite linear%3B%7D%40keyframes stroke%7Bto%7Bstroke-dashoffset:776%3B%7D%7D%3C/style%3E%3ClinearGradient id='g' x1='0%25' y1='0%25' x2='0%25' y2='100%25'%3E%3Cstop offset='0%25' stop-color='%232d3561' /%3E%3Cstop offset='25%25' stop-color='%23c05c7e' /%3E%3Cstop offset='50%25' stop-color='%23f3826f' /%3E%3Cstop offset='100%25' stop-color='%23ffb961' /%3E%3C/linearGradient%3E %3Cpath d='M1.5 1.5 l97 0l0 97l-97 0 l0 -97' stroke-linecap='square' stroke='url(%23g)' stroke-width='3' stroke-dasharray='388'/%3E %3C/svg%3E") 2;
    margin-top: 6%;
    margin-left: -7%;
}
.submit-pokemon-error{
    position: absolute;
    padding: 14px 28px 14px 28px;
    font-weight:bold;
    background: linear-gradient(50deg, #36d1dc, #5b86e5);
    margin-top: 6%;
    margin-left: -7%;
}
.errors{
    color: red;
    font-size: 0.9rem;
    font-weight: 500;
    position: absolute;
}
 #namee{
    width: 310px;
    height: 20px;
    margin-left: -1.5%;
    margin-top: 5%;
    position: fixed;
}
 #attack{
    width: 310px;
    height: 20px;
    margin-left: 22%;
    margin-top: 5%;
    position: fixed;
}

 #defense{
    width: 310px;
    height: 20px;
    position: fixed;
    margin-left: -1.5%;
    margin-top: 10.9%;
}

 .health{
    width: 310px;
    height: 20px;
    margin-left: -1.5%;
    margin-top: 17%;
    position: fixed;
}

 .speed{
    width: 310px;
    height: 20px;
    margin-left: 22%;
    margin-top: 10.9%;
    position: fixed;
}

 .height{
    width: 310px;
    height: 20px;
    margin-left: 22%;
    margin-top: 17%;
    position: fixed;
}

 .weight{
    width: 310px;
    height: 20px;
    margin-left: -10%;
    margin-top: 10%;
}
.imageE{
    width: 310px;
    height: 20px;
    margin-left: -10%;
    margin-top: 10%;
    position:fixed;
}
.square{
    margin-top: -5%;
    width: 250px;
    height: 130px;
}

.square img{
    max-width: 250px;
    max-height: 150px;
}

input{
    border-color: blue;
    border-radius: 5px;
    cursor: url('../../Images/pikachu.cur'), pointer;
}
button{
    cursor: url('../../Images/pikachu.cur'), pointer;
}
select{
    cursor: url('../../Images/pikachu.cur'), pointer;
    }
img{
    cursor: url('../../Images/pikachu.cur'), pointer;
}
