.loading{
    background-color: #f7f7f9;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: fixed;
    margin-top: 100px;
}

.loading img{
    margin-left: 30%;
}

.loading h1{
    font-weight: bold;
    text-align: center;
    margin-top: -5%;
}

@media (max-width : 1250px) {
    .loading img{
        margin-left: 10%;
    }
}

@media (max-width : 800px) {
    .loading img{
        margin-left: 0%;
        margin-right: 0%;
        max-width: 100%;
    }
}

