.loading{
    background-color: #f7f7f9;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: fixed;
    margin-top: 115px;
}

.loading img{
    margin-left: 30%;
}

.loading h1{
    font-weight: bold;
    text-align: center;
    margin-top: -5%;
}


